<%- include('partials/header.ejs'); %>
<div class="login-card">
    <h1><%= title ;%></h1>
    <% if (flash) { %>
        <p><%= flash ;%></p>
    <% } %>
    <div class="login-client-image">
        <% if (client.logoUri) { %><img src="<%= client.logoUri ;%>">
        <% } %>
    </div>

    <div class="messages">
        <ul>
            <% if ([details.missingOIDCScope, details.missingOIDCClaims, details.missingResourceScopes].filter(Boolean).length === 0) { %>
                <li>the client is asking you to confirm previously given authorization</li>
            <% } %>

            <% missingOIDCScope = new Set(details.missingOIDCScope); missingOIDCScope.delete('openid'); missingOIDCScope.delete('offline_access'); %>
            <% if (missingOIDCScope.size) { %>
                <li>scopes:</li>
                <ul>
                    <% missingOIDCScope.forEach((scope) => { %>
                        <li><%= scope ;%></li>
                    <% }); %>
                </ul>
            <% } %>

            <% missingOIDCClaims = new Set(details.missingOIDCClaims); ['sub', 'sid', 'auth_time', 'acr', 'amr', 'iss'].forEach(Set.prototype.delete.bind(missingOIDCClaims)); %>
            <% if (missingOIDCClaims.size) { %>
                <li>claims:</li>
                <ul>
                    <% missingOIDCClaims.forEach((claim) => { %>
                        <li><%= claim ;%></li>
                    <% }); %>
                </ul>
            <% } %>

            <% missingResourceScopes = details.missingResourceScopes; %>
            <% if (missingResourceScopes) { %>
                <% for (const [indicator, scopes] of Object.entries(details.missingResourceScopes)) { %>
                    <li><%= indicator ;%>:</li>
                    <ul>
                        <% scopes.forEach((scope) => { %>
                            <li><%= scope ;%></li>
                        <% }); %>
                    </ul>
                <% } %>
            <% } %>

            <% if (params.scope && params.scope.includes('offline_access')) { %>
                <li>
                    the client is asking to have offline access to this authorization
                    <% if ((!details.missingOIDCScope) || !details.missingOIDCScope.includes('offline_access')) { %>
                        (which you've previously granted)
                    <% } %>
                </li>
            <% } %>

        </ul>
    </div>
    Hinted email: <%= params.login_hint ;%>
    <hr>
    <p>
        Un code vous a été envoyé sur Tchap et par mail
    </p>

    <form autocomplete="off" action="/interaction/<%= uid ;%>/confirm" method="post" class="otp-form">
        <label class="fr-label" for="otp">Rentrez le code reçu ici: </label>
        <input class="fr-input" type="text" id="otp" name="otp">

        <ul class="fr-btns-group fr-btns-group--sm">
            <li>
                <button class="fr-btn" type="submit">
                    Continue
                </button>
            </li>
            <li>
                <a href="/interaction/<%= uid ;%>/abort">[ Cancel ]</a>
            </li>
        </ul>
    </form>
    <div class="login-help">
        <% if (client.tosUri) { %>
            <a href="<%= client.tosUri ;%>">[ Terms of Service ]</a>
        <% } %>
        <% if (client.policyUri) { %>
            <a href="<%= client.policyUri ;%>">[ Privacy Policy ]</a>
        <% } %>
    </div>
</div>
<%- include('partials/footer.ejs') %>
